/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.outer-container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: pink;
}
.outer-container .inner-container {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  border: 5px solid white;
  padding: 1%;
}
header {
  position: fixed;
  top: 0;
  width: 70%;
  background-color: lightpink;
  color: white;
  display: flex;
  justify-content: space-around;
}
header h1 {
  color: white;
  text-align: center;
  font-size: 3rem;
}
header nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
.one div {
  max-width: 100%;
}
.one div img {
  width: 100%;
}
.two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  margin: 5% 0;
}
.two p {
  font-size: 14px;
  line-height: 3em;
}
.breakpoint-1 {
  width: 90%;
  border: 3px dashed lightgray;
  margin: 4% auto;
}
footer {
  padding: 2%;
  text-align: center;
  background-color: pink;
}
footer h2 {
  text-align: center;
}
