.about-page {
  background-color: lightpink;
  padding-top: 80px;
  padding-bottom: 164px; 
 
    
  .profile-content {
    display: flex;
    align-items: center;
    width: 40vw;
    margin: 0 auto;

    .profile-text{

      h2 {
        font-family: 'Amatic SC';
        margin: 0;
        margin-bottom: 2%;
        font-size: 3rem;
      }
      p {
        width: 75%;
        margin: 0 auto;
        line-height: 32px;
      }
    }
    
    #profile {
      border-radius: 50%;
      width: 50%;
    }
  }
}