.Card {
  width: 40%;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
  color: gray;
  text-align: center;
}
.Image {
  max-width: 45%;
}
img{
  width: 100%;
}
.Image:hover {
  filter: blur(1px);
}
.Add {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 5%;
  margin-bottom: 5%;
}