.notfound {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  
  h1 {
    color: lightpink;
    text-align: center;
  }
  button {
    color: black; 
    font-weight: 900; 
    font-size: 1rem; 
    margin: 2% auto; 
    padding: 2%;
    
    cursor: pointer; 
  }

}