.home-page {
  max-width: 60vw;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;

  .welcome-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    
    .welcome-content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 80px;

      h1 {
        margin: 0;
        margin-bottom: 25px;
        font-size: 5.5rem;
        font-family: 'Amatic SC', cursive;
      }
      p {
        width: 60%;
        line-height: 24px;
        margin: 0;
      }
    }
  }
    
  .featured-product-wrapper {
    h2 {
      font-family: 'Amatic SC', cursive;
      margin: 0;
      margin-bottom: 25px;
      font-size: 2rem;
      text-align: left;
    }
    .featured-products {
      display: flex;
      justify-content: space-around;
    }
  }
}