.shop-page {
  max-width: 60%;
  margin: 0 auto; 
  padding-top: 80px;
  padding-bottom: 128px;

  .shop-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
  }
}