.cart-dropdown {
  position: absolute;
  width: 240px; 
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid grey;
  background-color: white;
  top: 56px; 
  right: 0;
  z-index: 5;

  @media (max-width: 1000px) {
    top: 97px; 
  }

  // TODO add media query max-width 800px 
  .empty-message {
    font-size: 18px;
    margin-bottom: 50px;
  }

  .cart-items {
    height: 240px; 
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  button {
    margin-top: auto;
  }
}