.DeckContainer {
  background-color: black;
  max-width: 80%;
  margin: 0 auto;
}
.ProductRow {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.TopPagination {
  display: flex;
  justify-content: space-evenly;
  margin-left: 73%;
  width: 20%;
  color: lightpink;
}
.PaginationContainer {
  padding-top: 4%;
}
