.blog { 
  padding: 1%;
  margin: 2% auto;
  width: 65%;

  .blog-header {
    text-align: center;

    h1 {
      margin: 2% 0;
    }

    .date-icons {
      width: 55%;
      margin: 2% auto;
      display: flex;
      justify-content: space-between;
      
      p {
        font-weight: bold;
      }
      
      .material-icons {
        width: 20%;
        display: flex;
        justify-content: space-between;
      }
    }
  }
  hr {
    height: 2px;
    color: black;
    background-color: black;
    margin: 3% auto;
  }
  .blog-content {
    margin: 2% auto;
    line-height: 150%;
  }
}