.blog { 
  padding: 1%;
  margin: 2% auto;
  width: 65%;
}
.blog-header {
  text-align: center;
}
.blog-header h1 {
  margin: 2% 0;
}
.blog-header p {
  font-weight: bold;
}
hr {
  height: 2px;
  color: black;
  background-color: black;
  margin: 3% auto;
}
.blog-content {
  margin: 2% auto;
  line-height: 150%;
}
.date-icons {
  width: 55%;
  margin: 2% auto;
  display: flex;
  justify-content: space-between;
}
.material-icons {
  width: 20%;
  display: flex;
  justify-content: space-between;
}