.home-page {

  .welcome-section {
    display: flex;
    justify-content: space-between;

    .colored-div {
      width: 25%;
      background-color: pink;
    }

    .welcome-content {
      width: 45%;
      
      h1 {
        margin: 0;
        margin-bottom: 2%;
        font-size: 3.5rem;
        font-family: 'Amatic SC', cursive;
      }
      p {
        margin: 0 auto;
        line-height: 25px;
      }
    }
  }
    
  .featured-product-wrapper {
    margin-bottom: 2%;
    background-color:lightgray;
    
    h2 {
      font-family: 'Amatic SC', cursive;
      margin: 0;
      margin-left: 2%;
      font-size: 2rem;
      text-align: left;
    }
    .featured-products {
      display: flex;
      justify-content: space-around;
    }
  }
}